<div id="container" class="bg-gray-100 h-screen flex items-center justify-center">
    <div #quizContainer class="bg-white shadow-2xl rounded-lg p-8 w-2/3 max-w-3xl quiz-container">
        <h1 class="text-4xl font-bold text-center text-gray-900 mb-2 glow-text animate__animated animate__fadeIn">
            Pick the Right Answer
        </h1>
        <!-- Timer -->
        <div class="timer-container flex items-center mb-6">
            <div class="clock-container">
                <div class="clock-face">
                    <div class="clock-center"></div>
                    <div class="clock-hand hour-hand" #hourHand id="hour-hand"></div>
                    <div class="clock-hand minute-hand" #minuteHand id="minute-hand"></div>
                </div>
            </div>
            <div class="ml-4 flex-grow timer-bar-wrapper">
                <div class="w-full bg-gray-200 rounded-full h-6">
                    <div class="timer-bar" style="width: 100%;" #timerBar id="timer-bar"></div>
                </div>
            </div>
            <div class="timer-text ml-4" #timerText id="timer-text">30s</div>
        </div>

        <!-- Barra de Progreso -->
        <div class="mb-6">
            <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700 ">
                <div class="bg-blue-600 h-2.5 rounded-full" style="width: 0%;" #progressBar id="progress-bar"></div>
            </div>
        </div>

        <!-- Pregunta -->
        <div #questionContainer id="question-container" class="bg-blue-100 rounded-lg p-4 mb-4">
            <p class="text-lg font-semibold text-gray-800" #questionText id="question-text">Pregunta aquí</p>
        </div>

        <!-- Opciones -->
        <div #optionsContainer id="options-container" class="grid bg-gray grid-cols-1 md:grid-cols-2 gap-4 mb-6">
            <!-- Las opciones se insertarán aquí dinámicamente -->
        </div>

        <!-- Botón Siguiente -->
        <div class="flex justify-center">
            <button (click)="nextQuestion()" id="next-button"
                class="bg-blue-500 hover:bg-blue-700 text-white flex items-center font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="button">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13 7l5 5m0 0l-5 5m5-5H6" />
                </svg>
                Next
            </button>
        </div>

        <!-- Navigation bar -->
        <div class="fixed bottom-0 left-0 right-0 bg-white border-t border-gray-200 py-1 z-50">
            <div class="flex justify-end items-center mx-8">
                <button routerLink="/app" class="flex flex-col items-center text-[#58CC02]">
                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                    </svg>
                    <span class="text-xs">Home</span>
                </button>
            </div>
        </div>
    </div>
    <!-- Pantalla de finalización -->
    <!-- <div #completionScreen id="completion-screen" class="hidden text-center">
        <div class="bg-white shadow-md rounded-lg p-8 max-w-2xl mx-auto">
            <h1 class="text-4xl font-bold text-blue-600 mb-4 animate-bounce">¡Felicidades! 🎉</h1>
            <p class="text-xl text-gray-700 mb-4">Has completado exitosamente el cuestionario</p>
            <canvas #confettiCanvas id="confetti-canvas"
                class="absolute top-0 left-0 w-full h-full pointer-events-none"></canvas>
        </div>
    </div> -->
    @if(calculatePassStatus()){
    <div #completionScreen id="completion-screen"
        class="hidden text-center fixed inset-0 bg-black bg-opacity-50 overflow-y-auto py-8">
        <div class="bg-white shadow-md -mt-3 rounded-lg p-8 max-w-2xl mx-auto relative my-8">
            <h1 class="text-4xl font-bold text-blue-600 mb-4 animate-bounce">¡Felicidades! 🎉</h1>
            <p class="text-xl text-gray-700 mb-4">Has completado exitosamente el cuestionario</p>
            <canvas #confettiCanvas id="confetti-canvas"
                class="absolute top-0 left-0 w-full h-full pointer-events-none"></canvas>

            <div #resultTable class="results-details  max-h-[65vh] overflow-y-auto">
                <h2 class="text-2xl font-semibold mb-4">Resultados</h2>
                <table class="w-full text-left">
                    <thead>
                        <tr class="bg-gray-100">
                            <th class="p-2">Pregunta</th>
                            <th class="p-2">Resultado</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(result of (testsSubject | async) || []; track result.question){
                        @if(result.userAnswer === result.answer){
                        <tr class="bg-green-50">
                            <td class="p-2">{{ result.question }}</td>
                            <td class="p-2">Correcto</td>
                        </tr>
                        }
                        @else{
                        <tr class="bg-red-50">
                            <td class="p-2">{{ result.question }}</td>
                            <td class="p-2">{{result.userAnswer }}</td>
                        </tr>
                        }
                        }

                    </tbody>
                </table>

            </div>
            <button id="continue-button" [routerLink]="['/session']"
                class="bg-blue-500  hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Continuar
            </button>
        </div>
    </div>
    }
    @else{
    <div #completionScreen id="completion-screen"
        class="hidden text-center fixed inset-0 bg-black bg-opacity-50 overflow-y-auto py-8">
        <div class="bg-white -mt-3 shadow-md rounded-lg p-8 max-w-2xl mx-auto relative my-8">
            <h1 class="text-4xl font-bold text-red-600 mb-4 animate-shake">¡Reprobado! 😟</h1>
            <p class="text-xl text-gray-700 mb-4">No has completado el cuestionario satisfactoriamente</p>

            <div #resultTable class="results-details  max-h-[65vh] overflow-y-auto">
                <h2 class="text-2xl font-semibold mb-4">Resultados</h2>
                <table class="w-full text-left">
                    <thead>
                        <tr class="bg-gray-100">
                            <th class="p-2">Pregunta</th>
                            <th class="p-2">Resultado</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(result of (testsSubject | async) || []; track result.question){
                        @if(result.userAnswer === result.answer){
                        <tr class="bg-green-50">
                            <td class="p-2">{{ result.question }}</td>
                            <td class="p-2">Correcto</td>
                        </tr>
                        }
                        @else{
                        <tr class="bg-red-50">
                            <td class="p-2">{{ result.question }}</td>
                            <td class="p-2">{{result.userAnswer }}</td>
                        </tr>
                        }
                        }

                    </tbody>
                </table>

            </div>
            <button id="continue-button" (click)="retryTest()"
                class="bg-blue-500  hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Reintentar
            </button>
        </div>
    </div>
    }
</div>