<!-- Navbar -->
<nav class="bg-white shadow-lg">
    <div class="max-w-7xl mx-auto px-4">
        <div class="flex justify-between items-center py-4">
            <div class="flex items-center space-x-2">
                <svg class="w-8 h-8 text-primary" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 2a8 8 0 100 16 8 8 0 000-16zm0 14a6 6 0 110-12 6 6 0 010 12z" />
                    <path d="M10 4a1 1 0 100 2 1 1 0 000-2z" />
                </svg>
                <span class="text-2xl font-bold text-gray-800 dark:text-white">SmartEnglish AI</span>
            </div>

            @if(!wasMenuOpen()){
            <div class="hidden md:flex items-center space-x-8">
                <button (click)="setDarkMode()" class="p-2 rounded-lg bg-gray-100 dark:bg-gray-700">
                    @if(!darkMode$()){
                    <fa-icon [icon]="faMoon" class="dark:block dark:text-white"></fa-icon>

                    }@else{
                    <fa-icon [icon]="faSun" class=" dark:block text-yellow-400"></fa-icon>

                    }
                </button>

                @if(!isLogged()){
                <button [routerLink]="['/login']"
                    class="px-6 py-2 rounded-full bg-[#3b82f6] text-white hover:bg-blue-600 transition-colors">{{'loginButton'
                    | translate }}</button>
                }
                @else{
                <button (click)="signout()"
                    class="px-6 py-2 rounded-full bg-[#3b82f6] text-white hover:bg-blue-600 transition-colors">{{'logoutButton'
                    | translate }}</button>
                }
            </div>
            }
            @else{
            <!-- Mobile Menu -->
            <div class="md:hidden absolute top-full left-0 w-full bg-white dark:bg-gray-800 overflow-hidden transition-all duration-500 ease-[cubic-bezier(0.4,0,0.2,1)]"
                [class.max-h-0]="!wasMenuOpen()" [class.max-h-[500px]]="wasMenuOpen()">
                <div class="px-4 py-6 space-y-6">
                    <div class="flex flex-col items-center space-y-6">
                        <!-- Comentado por Andres Hurtado 23/03/25 11:35 pm -->
                        <!-- <a href="https://example.com/cursos"
                                class="text-gray-600 hover:text-primary dark:text-gray-300 dark:hover:text-primary transition-colors text-lg">{{'courseButton'
                                | translate }}</a>
                            <a href="https://example.com/practica"
                                class="text-gray-600 hover:text-primary dark:text-gray-300 dark:hover:text-primary transition-colors text-lg">{{'practiceButton'
                                | translate }}</a> -->

                        <div class="flex items-center space-x-4">
                            <button (click)="setDarkMode()" class="p-2 rounded-lg bg-gray-100 dark:bg-gray-700">
                                @if(!darkMode$()){
                                <fa-icon [icon]="faMoon" class="dark:block dark:text-white text-xl"></fa-icon>
                                }@else{
                                <fa-icon [icon]="faSun" class="dark:block text-yellow-400 text-xl"></fa-icon>
                                }
                            </button>
                        </div>

                        @if(!isLogged()){
                        <button [routerLink]="['/login']"
                            class="w-full max-w-xs text-center px-6 py-3 rounded-full bg-[#3b82f6] text-white hover:bg-blue-600 transition-colors text-lg font-semibold">{{'loginButton'
                            | translate }}</button>
                        }
                        @else{
                        <button (click)="signout()"
                            class="w-full max-w-xs text-center px-6 py-3 rounded-full bg-[#3b82f6] text-white hover:bg-blue-600 transition-colors text-lg font-semibold">{{'logoutButton'
                            | translate }}</button>
                        }
                    </div>
                </div>
            </div>
            }

            <button (click)="toggleMenu()" class="md:hidden text-gray-600 dark:text-gray-300">
                <fa-icon [icon]="faBars" class=" text-2xl"></fa-icon>
            </button>
        </div>
    </div>
</nav>


<!-- Contenido Principal -->
<main class="max-w-6xl mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold text-center text-gray-800 mb-12">Welcome to LearnEnglish AI</h1>

    <!-- Grid de Cards -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

        <!-- Card Chat -->
        <a [routerLink]="['/level']" class="transform hover:scale-105 transition duration-300">
            <div class="bg-white rounded-xl shadow-lg p-6 hover:shadow-xl cursor-pointer">
                <div class="flex items-center justify-center w-14 h-14 bg-indigo-100 rounded-full mb-4">
                    <i class="fas fa-comments text-2xl text-indigo-600"></i>
                </div>
                <h2 class="text-xl font-semibold text-gray-800 mb-2">Level A1 🏠📚</h2>
                <p class="text-gray-600">Da el primer paso en tu aprendizaje</p>
            </div>
        </a>
        <!-- <a [routerLink]="['/chat']" class="transform hover:scale-105 transition duration-300">
            <div class="bg-white rounded-xl shadow-lg p-6 hover:shadow-xl cursor-pointer">
                <div class="flex items-center justify-center w-14 h-14 bg-indigo-100 rounded-full mb-4">
                    <i class="fas fa-comments text-2xl text-indigo-600"></i>
                </div>
                <h2 class="text-xl font-semibold text-gray-800 mb-2">Chat 💬</h2>
                <p class="text-gray-600">Inicia una conversación privada con tus contactos</p>
            </div>
        </a>
 -->
        <!-- Card Calendario -->
        <!-- <a class="transform hover:scale-105 transition duration-300">
            <div class="bg-white rounded-xl shadow-lg p-6 hover:shadow-xl cursor-pointer">
                <div class="flex items-center justify-center w-14 h-14 bg-green-100 rounded-full mb-4">
                    <i class="fas fa-calendar-alt text-2xl text-green-600"></i>
                </div>
                <h2 class="text-xl font-semibold text-gray-800 mb-2">Calendario 📅</h2>
                <p class="text-gray-600">Organiza tus eventos y reuniones</p>
            </div>
        </a> -->
        <a [routerLink]="['/level']" class="transform hover:scale-105 transition duration-300">
            <div class="bg-white rounded-xl shadow-lg p-6 hover:shadow-xl cursor-pointer">
                <div class="flex items-center justify-center w-14 h-14 bg-indigo-100 rounded-full mb-4">
                    <i class="fas fa-comments text-2xl text-indigo-600"></i>
                </div>
                <h2 class="text-xl font-semibold text-gray-800 mb-2">Level A2 ✏📝</h2>
                <p class="text-gray-600">Sigue avanzando al segundo nivel</p>
            </div>
        </a>

        <!-- Card Tareas -->
        <a [routerLink]="['/session']" class="transform hover:scale-105 transition duration-300">
            <div class="bg-white rounded-xl shadow-lg p-6 hover:shadow-xl cursor-pointer">
                <div class="flex items-center justify-center w-14 h-14 bg-purple-100 rounded-full mb-4">
                    <i class="fas fa-tasks text-2xl text-purple-600"></i>
                </div>
                <h2 class="text-xl font-semibold text-gray-800 mb-2">Praticas AI 🤖💬</h2>
                <p class="text-gray-600">Habla con la IA y mejora tu inglés</p>
            </div>
        </a>

        <!-- Card Notas -->
        <!--  <a class="transform hover:scale-105 transition duration-300">
            <div class="bg-white rounded-xl shadow-lg p-6 hover:shadow-xl cursor-pointer">
                <div class="flex items-center justify-center w-14 h-14 bg-yellow-100 rounded-full mb-4">
                    <i class="fas fa-sticky-note text-2xl text-yellow-600"></i>
                </div>
                <h2 class="text-xl font-semibold text-gray-800 mb-2">Notas 📝</h2>
                <p class="text-gray-600">Toma notas rápidas y organizadas</p>
            </div>
        </a> -->
        <a [routerLink]="['/level']" class="transform hover:scale-105 transition duration-300">
            <div class="bg-white rounded-xl shadow-lg p-6 hover:shadow-xl cursor-pointer">
                <div class="flex items-center justify-center w-14 h-14 bg-indigo-100 rounded-full mb-4">
                    <i class="fas fa-comments text-2xl text-indigo-600"></i>
                </div>
                <h2 class="text-xl font-semibold text-gray-800 mb-2">Level B1 🔤📔</h2>
                <p class="text-gray-600">Domina el tercer nivel y mejora tu inglés</p>
            </div>
        </a>

        <!-- Card Archivos -->
        <!-- <a class="transform hover:scale-105 transition duration-300">
            <div class="bg-white rounded-xl shadow-lg p-6 hover:shadow-xl cursor-pointer">
                <div class="flex items-center justify-center w-14 h-14 bg-blue-100 rounded-full mb-4">
                    <i class="fas fa-file-alt text-2xl text-blue-600"></i>
                </div>
                <h2 class="text-xl font-semibold text-gray-800 mb-2">Archivos 📁</h2>
                <p class="text-gray-600">Administra y comparte tus archivos</p>
            </div>
        </a> -->
        <a [routerLink]="['/level']" class="transform hover:scale-105 transition duration-300">
            <div class="bg-white rounded-xl shadow-lg p-6 hover:shadow-xl cursor-pointer">
                <div class="flex items-center justify-center w-14 h-14 bg-indigo-100 rounded-full mb-4">
                    <i class="fas fa-comments text-2xl text-indigo-600"></i>
                </div>
                <h2 class="text-xl font-semibold text-gray-800 mb-2">Level B2 🏆📊</h2>
                <p class="text-gray-600">Llega al cuarto nivel y destaca</p>
            </div>
        </a>

        <!-- Card Configuración -->
        <a [routerLink]="['/chat']" class="transform hover:scale-105 transition duration-300">
            <div class="bg-white rounded-xl shadow-lg p-6 hover:shadow-xl cursor-pointer">
                <div class="flex items-center justify-center w-14 h-14 bg-indigo-100 rounded-full mb-4">
                    <i class="fas fa-comments text-2xl text-indigo-600"></i>
                </div>
                <h2 class="text-xl font-semibold text-gray-800 mb-2">Chat 📝💭</h2>
                <p class="text-gray-600">Chat de Comunidad</p>
            </div>
        </a>
        <!-- <a class="transform hover:scale-105 transition duration-300">
            <div class="bg-white rounded-xl shadow-lg p-6 hover:shadow-xl cursor-pointer">
                <div class="flex items-center justify-center w-14 h-14 bg-gray-100 rounded-full mb-4">
                    <i class="fas fa-cog text-2xl text-gray-600"></i>
                </div>
                <h2 class="text-xl font-semibold text-gray-800 mb-2">Configuración ⚙️</h2>
                <p class="text-gray-600">Personaliza tu experiencia</p>
            </div>
        </a> -->
    </div>
</main>

<!-- Footer -->
<!-- <footer class="bg-white mt-12 py-6 shadow-inner">
    <div class="max-w-6xl mx-auto px-4">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <p class="text-gray-600 text-sm">© 2024 AppModerna. Todos los derechos reservados.</p>
            <div class="flex space-x-4 mt-4 md:mt-0">
                <a class="text-gray-600 hover:text-indigo-600 text-sm">Términos</a>
                <a class="text-gray-600 hover:text-indigo-600 text-sm">Privacidad</a>
                <a class="text-gray-600 hover:text-indigo-600 text-sm">Contacto</a>
            </div>
        </div>
    </div>
</footer> -->